- v = view_object(:question_view, local_assigns)
= form_with url: final_index_path, local: :true do |f|

  %section.mt-3{"class" => "#{v.done ? 'disabled-editor' : 'enabled-editor'}"}
    .container
      .row
        .col{"id" => "coleditor", "data-initial" => v.initial,  "data-functionf" => v.functionf}
          .row.d-flex.flex-column
            = v.description
          .row.mt-3
            %textarea{"id" => "editor"}
          
          
        .col
          = render 'shared/test_table', v.tests
        

      - if !v.done
        .row.justify-content-center
          .qa-form-fields.d-none
            = f.text_field :biz_id, :value => params[:for_id]
            = f.text_field :functionf
            = f.text_field :nb_of_lint_warning
            = f.text_field :nb_of_lint_error
            = f.text_field :nb_of_green_test
            = f.text_field :nb_of_red_test
          
          = f.submit "Valider ma réponse", :class => "qa-validate btn btn-success btn-lg c-button-answer px-5 py-4 mt-5"

      - if v.done
        .qa-info-done.row.justify-content-center.h2.mt-3
          %strong Test terminé
