- v = view_object(:test_table, local_assigns)

%table.table.c-table
  %thead
    %tr
      %th Test
      %th Expectation
      %th Result
      %th Status
  %tbody
    - v.tests.each_with_index do |t, i|
      %tr.trtest{"id"=> "tr#{i+1}"}
        %td{"id"=> "testing#{i+1}"} 
          = t[:test_function]
        %td{"id"=> "expecting#{i+1}"} 
          = t[:test_expectation]
        %td.td-result{"id"=> "resulting#{i+1}"} 
        %td{"id"=> "badging#{i+1}"} 
          %span.badge.badge-pill
