!!!
%html
  %head
    %meta{:content => "initial-scale=1, maximum-scale=1", :name => "viewport"}
    %title Algohero
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu:400,700,800", :rel => "stylesheet"}/
  %body{:class => "c-body #{controller_name} #{action_name}"}
    %nav.navbar.navbar-light.mb-5
      %a.navbar-brand.text-muted{:href => root_path} AlgoHero.Io
    
    = yield
  
